@import "variables";

.tiles {
  display: flex;
  flex-wrap: wrap;
  margin-top: $main-spacing;

  &__tile {
    display: flex;
    justify-content: center;
    align-items: center;
    // flex: 0 1 33%;
    flex: 0 1 49%;
    margin-bottom: $main-spacing/2;
    margin-left: 2px;
    padding: $main-spacing 0;
    color: $tile-text-color;
    background-color: black;
    cursor: pointer;
    transition: 0.4;
    font-size: 0.8rem;

    &:hover {
      opacity: 0.7;
    }
  }
}